<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="dark">
    <ion-item color="dark">
      <ion-icon name="people" slot="start"></ion-icon>
      <ion-range min="1" max="4" step="1" [value]="nbPlayersRangeValue" snaps="true"
                 (ionChange)="handleNbPlayersChange($event)"></ion-range>
      <div class="item-note" slot="end">
        {{nbPlayersRangeValue}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
