<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Board
    </ion-title>
    <ion-buttons slot="end" *ngIf="timeModeIsActive" class="countdown">
      <ion-icon slot="start" [name]="timeModeIsRunning === true ? 'pause' : 'play'"
                (click)="handlePlayTimeMode()"></ion-icon>
      <ion-text>{{turnTimeMinute > 0 ? (turnTimeMinute| number:'2.0-0') + ('m') : null }}
      {{turnTimeSecond | number:'2.0-0'}}s
      </ion-text>
      <ion-icon slot="end" name="skip-forward" (click)="handleNextPlayerCountdown()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="no-slot">
      <ion-icon name="refresh" (click)="handleReset()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="no-slot">
      <ion-img class="dice-icon" src="./assets/icon/mtgSet/dice-6.svg" (click)="handleRandomizer($event)"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="board-container">
    <div *ngFor="let player of this.players"
          class="board-player-container-outer"
         [ngClass]="{
          'players-mode-solo': this.players.length === 1,
          'players-mode-versus': this.players.length === 2,
          'players-mode-odd': this.players.length % 2 === 1,
          'players-mode-even': this.players.length % 2 === 0,
          'heartbeat-mode': this.heartBeatModeIsActive && player.life <= 5,
          'player-dead': player.life === 0
        }"
        [ngStyle]="{'height': 'calc('+this.playerBoardHeight + '% - 15px)'}"
    >
      <app-player-board
        [player]="player"
        [nbPlayers]="players.length"
        class="board-player-container-inner"
        [ngClass]="{
          'players-5': this.players.length === 5,
          'players-6': this.players.length === 6
        }"
        [ngStyle]="{'height': 'calc('+this.playerBoardHeightInner + '% - 15px)'}"
      >
      </app-player-board>

    </div>
  </div>
</ion-content>
